/* Utilities
================================================== */

/** Container **/
.container {
   padding-left: 10px;
   padding-right: 10px;

   @media (max-width: 1199px) {
      max-width: 1140px;
   }

   > .row {
    margin-left: -10px;
    margin-right: -10px;

    > [class*="col"] {
      padding-left: 10px;
      padding-right: 10px;
    }
   }
}


/** Overflow **/
.ov-h {
   overflow: hidden !important;
}


/** Elementor Text Align **/
.el-d-text-right {
   @media (min-width: 1025px) {
      text-align: right;
   }
}


/** Elementor Horizontal Align **/
.elementor-columns-center {
    > .elementor-container {
        > .elementor-row {
            justify-content: center;
        }
    }
}


/** Reverse Column **/
.tab_column_reverse {
   .elementor-widget-wrap {
      @media (max-width: 1024px) {
         flex-direction: column-reverse;
      }
   }
}


/** Rest Margin **/
.reset_p {
   p:last-child {
      margin-bottom: 0;
   }
}


/** Link **/
.link_color_inherit {
   a:not(:hover) {
      color: inherit;
   }
}
